include ../blog-post/blog-post
include ../info/info
include ../subscribe/subscribe
include ../latest-posts/latest-posts
include ../instagram/instagram
include ../categories/categories
include ../ad/ad
include ../tags/tags

mixin feed(posts)
	+b.feed&attributes(attributes)
		+wrapper
			+e.posts
				- var halfPosts = Math.round(posts.length / 2)
				- var path
				+e.col
					- for(var i = 0; i < halfPosts; i++)
						- path = 'assets/images/posts/' + (i + 1) + '.jpg';
						+e.post
							+blog-post(posts[i], path)
				+e.col
					- for(i = halfPosts; i < posts.length; i++)
						- path = 'assets/images/posts/' + (i + 1) + '.jpg';
						+e.post
							+blog-post(posts[i], path)
				+e.refresh-block
					+e('button').refresh-btn
						+icon('refresh').refresh-icon
			+e.sidebar
				+e.sidebar-block._info
					+info
				+e.sidebar-block._subscribe
					+subscribe
				+e.sidebar-block._latest-post
					+latest-posts(posts)
				+e.sidebar-block._instagram
					+instagram
				+e.sidebar-block._categories
					+categories(getData('categories'))
				+e.sidebar-block._ad
					+ad
				+e.sidebar-block._tags
					+tags(getData('tags'))