.subscribe
	padding 60px 20px 44px
	display block
	background-color #f5f5f5
	&__title
		margin-bottom 20px
		font-family $rufina
		font-size 18px
		font-weight bold
		color $black
	&__form
		display table
	&__input
		display table-cell
		width 100%
	&__button
		padding-x 22px
		display table-cell
		height 100%
		font-size 12px
		letter-spacing .5px
		text-transform uppercase
		color white
		background-color $black
		border none
		transition background-color .1s
		&:hover
			color grey
			background-color lighten($black, 15%)
