mixin subscribe()
	+b.subscribe&attributes(attributes)
		+e.title
			| Subscribe to my Newsletter
		+e('form').form
			+e.container._input
				+text-input('Your e-mail...')
			+e.container._button
				+e('button').button
					| Submit