$quat = QuattrocentoSans, sans-serif
$gilda = GildaDisplay, serif
$rufina = Rufina, serif

@font-face
	font-family QuattrocentoSans
	src local('QuattrocentoSans'),
		local('QuattrocentoSans-Regular'),
		url('../fonts/QuattrocentoSans-Regular.otf') format('opentype')
	font-weight 400

@font-face
	font-family QuattrocentoSans
	src local('QuattrocentoSans'),
		local('QuattrocentoSans-Bold'),
		url('../fonts/QuattrocentoSans-Bold.otf') format('opentype')
	font-weight 800	

@font-face
	font-family GildaDisplay
	src local('GildaDisplay'),
		local('GildaDisplay-Regular'),
		url('../fonts/GildaDisplay-Regular.ttf') format('truetype')
	font-weight 400

@font-face
	font-family Rufina
	src local('Rufina'),
		local('Rufina-Regular'),
		url('../fonts/Rufina-Regular.ttf') format('truetype')
	font-weight 400

@font-face
	font-family Rufina
	src local('Rufina'),
		local('Rufina-Bold'),
		url('../fonts/Rufina-Bold.ttf') format('truetype')
	font-weight 800