.categories
	display block
	&__heading
		margin-bottom 15px
	&__item
		padding 15px 10px
		display block
		font-size 13px
		text-decoration none
		color $black
		opacity 1
		&:hover
			opacity .8
		&_not-even
			background-color #f7f7f7
			border-top 1px dashed #eee
			border-bottom 1px dashed #eee
		