mixin banner()
	+b('a').banner(href='#')&attributes(attributes)
		+wrapper('wide')
			+e.align
				+e.text
					+e.tag
						| My Life
					+e.title
						| These Beauty Queens Are Fighting For Rights
