.header
	&__logo
		padding-top 60px
		padding-bottom 10px
		text-align center
	&__title
		font-family $gilda
		font-size 48px
		text-transform uppercase
		color $black
	&__desc
		font-size 12px
		font-weight bold
		letter-spacing 1.1px
		text-transform uppercase
		color $light-grey
	&__menu-container
		padding-y 15px
		box-shadow 0 -3px 10px rgba(black, .02)
	&__menu
		display flex
		width 100%
		flex-flow row wrap

	&__icons
		margin-left -7px
		flex 0 140px
		@media(max-width 1450px)
			margin-left 0
			text-align center
			flex-basis 100%
	&__icon-btn
		margin-x -1px
		vertical-align middle
		background none
		border none
		size 32px 42px
	&__icon
		size 17px
		fill $black
		&_fb
			size 15px
		&_in
			size 14px
		&_pt
			size 14px
	&__icon-btn:hover &__icon
		fill lighten($black, 50%)

	&__navigation
		text-align center
		flex 1 auto
		@media(max-width 1450px)
			padding-top 40px
	&__nav-item
		position relative
		left 9%
		padding 15px 20px
		display inline-block
		font-weight bold
		text-decoration none
		text-transform uppercase
		color $black
		&:hover
			color $light-grey
			border-bottom 0
		@media(max-width 1450px)
			left 0
			padding-top 0
			padding-bottom 40px

	&__search
		padding-top 8px
		flex 0 320px
		position relative
		@media(max-width 1450px)
			padding-top 0
			flex-basis 100%
	&__search-container
		margin-left auto
		display table
		width 100%
		transition width .3s
		transform rotateZ(0)
		&_hidden
			width 100px
			@media(max-width 1450px)
				width 100%
	&__search-field
		position relative
		display table-cell
		width 100%
		vertical-align middle
		opacity 1
		transition opacity .1s
		&_hidden
			opacity 0
			@media(max-width 1450px)
				opacity 1
	&__search-btn
		position relative
		padding-y 5px
		padding-left 12px
		display table-cell
		vertical-align middle
		background none
		border none
		&_hidden
			&:before
				position absolute
				left 0
				display block
				content ''
				background-color #252525
				size 1px 17px	
		@media(max-width 1450px)
			display none
	&__search-icon
		size 16px
		float left