include ../wrapper/wrapper
include ../search-input/search-input

mixin header()
	+b.header&attributes(attributes)
		+e.logo
			+e.title
				| Bologna
			+e.desc
				| Wordpress theme for bloggers
		
		+e.menu.wrapper_wide
			+e.icons
				+e('button').icon-btn
					+icon('behance').icon._be
				+e('button').icon-btn
					+icon('facebook').icon._fb
				+e('button').icon-btn
					+icon('linkedin').icon._in
				+e('button').icon-btn
					+icon('pinterest').icon._pt
			+e.navigation
				- var navItems = getData('top_navigation')
				- var anchor = ''
				- for(var i = 0; i < navItems.length; i++)
					- anchor = '#' + navItems[i]
					+e('a').nav-item(href=anchor)=navItems[i]
			+e.search._hidden
				+search-input('hidden')
