.info
	display block
	&__photo
		display block
	&__about
		margin-y 20px
		padding-y 2px
		padding-right 20px
		display inline-block
		font-size 13px
		border-bottom 1px solid $light-grey
	&__name
		margin-bottom 25px
		font-family $rufina
		font-size 36px
		font-weight bold
		color $black
	&__desc
		margin-bottom 25px
		font-size 13px
		line-height 2
	&__follow-sign
		margin-right 12px
		display inline-block
		font-size 12px
	&__follow-icons
		display inline-block
	&__follow-btn
		background none
		border none
	&__icon
		margin-x 2px
		size 14px
		fill $black
	&__follow-btn:hover &__icon
		fill lighten($black, 30%)