.search-input
	display table
	width 100%
	&__field
		position relative
		z-index -1
		display table-cell
		width 100%
		vertical-align middle
		opacity 1
		transition opacity .1s
		&_hidden
			opacity 0
	&__button
		padding-y 5px
		padding-left 12px
		display table-cell
		vertical-align middle
		background none
		border none
		position relative
		&_hidden
			&:before
				position absolute
				left 0
				display block
				content ''
				background-color #252525
				size 1px 17px		
	&__icon
		size 16px
		float left