include ../text-input/text-input
include ../icon/icon

mixin search-input(isHidden)
	+b.search-input&attributes(attributes)
		- var hiddenModifier = isHidden ? '_hidden' : ''
		+e.field(class=hiddenModifier)
			+text-input('Search...', 'small')
		+e('button').button(class=hiddenModifier)
			+icon('search').icon
